@mixin max-tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin min-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin phone-landscape-to-tablet {
  @media screen and (min-width: 550px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet-to-desktop {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin min-desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin max-desktop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@mixin desktop-to-hd {
  @media screen and (min-width: 1280px) and (max-width: 2999px) {
    @content;
  }
}
@mixin min-hd {
  @media screen and (min-width: 3000px) {
    @content;
  }
}
